#basemaps-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 130px;
  right: 10px;
  background: rgba(255, 255, 255, 0);
}

#layer-select {
  z-index: 1;
  position: absolute;
  bottom: 90px;
  right: 10px;
  background: rgba(255, 255, 255, 0);
}

#layer-toggle {
  z-index: 1;
  position: absolute;
  bottom: 160px;
  right: 10px;
  background: rgba(255, 255, 255, 0);
}


#basemaps {
  font-size: 16px;
  padding: 4px 8px;
}


#layer-lsoa {
  font-size: 16px;
  padding: 4px 8px;
}


#layer-select {
  z-index: 1;
  position: absolute;
  bottom: 90px;
  right: 10px;
  background: rgba(255, 255, 255, 0);
}


#hoverinfo-textbox {
  z-index: 1;
  position: absolute;
  bottom: 215px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
}




#uploadButton {
  border-radius: 50%;  /* Makes the button round */
  border: 2px solid lightblue;  /* Adds a light blue outline */
  position: absolute;
  top: 0;
  left: 50%;  /* Places the button at the top and middle of the page */
  transform: translate(-50%, 0);  /
}


